In [1]:
# importing libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import sqlite3

# importing datasets.

retail = pd.read_csv("data/BrandAverageRetailPrice.csv")
details = pd.read_csv("data/BrandDetails.csv")
sales = pd.read_csv("data/BrandTotalSales.csv")
units = pd.read_csv("data/BrandTotalUnits.csv")

## Retail dataset

col names = Brands, Months, ARP, "vs. Prior Period"

In [2]:
retail.info()
# ARP has 1939 null entries.
# "vs. Prior Period" has 2712 null entries.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27211 entries, 0 to 27210
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Brands            27211 non-null  object
 1   Months            27211 non-null  object
 2   ARP               25279 non-null  float64
 3   vs. Prior Period  24499 non-null  float64
dtypes: float64(2), object(2)
memory usage: 850.5+ KB

In [3]:
retail.describe()

                ARP  vs. Prior Period
count  25279.000000      24499.000000
mean      22.679732         -0.065028
std       19.802724          0.388923
min        0.000000         -1.000000
25%       10.512827         -0.088073
50%       17.033051         -0.011649
75%       31.505612          0.045232
max      700.874984         12.645741

## sales

In [4]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25279 entries, 0 to 25278
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Months           25279 non-null  object
 1   Brand            25279 non-null  object
 2   Total Sales ($)  25279 non-null  object
dtypes: object(3)
memory usage: 592.6+ KB

In [5]:
sales.describe()

         Months                   Brand Total Sales ($)
count     25279                   25279           25279
unique       37                    1627           25277
top     05/2021  Ocean Cannabis Company               0
freq        848                      37               3

In [6]:
units.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27686 entries, 0 to 27685
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Brands            27686 non-null  object
 1   Months            27686 non-null  object
 2   Total Units       25712 non-null  object
 3   vs. Prior Period  24935 non-null  float64
dtypes: float64(1), object(3)
memory usage: 865.3+ KB

In [15]:
units = units.rename(columns={"Brands": "Brand"})
units = units.rename(columns={"vs. Prior Period": "vs. Prior Period (Units)"})
units

               Brand   Months          Total Units  vs. Prior Period (Units)
0       #BlackSeries  08/2020  1,616.3390040000000                       NaN
1       #BlackSeries  09/2020                  NaN                 -1.000000
2       #BlackSeries  01/2021    715.5328380000000                       NaN
3       #BlackSeries  02/2021           766.669135                  0.071466
4       #BlackSeries  03/2021                  NaN                 -1.000000
...              ...      ...                  ...                       ...
27681  Zuma Topicals  08/2019    312.5153360000000                       NaN
27682  Zuma Topicals  09/2019   464.30631600000000                  0.485707
27683  Zuma Topicals  10/2019           348.057905                 -0.250370
27684  Zuma Topicals  11/2019            135.92208                 -0.609484
27685  Zuma Topicals  12/2019                  NaN                 -1.000000

[27686 rows x 4 columns]

In [16]:
retail = retail.rename(columns={"Brands": "Brand"})
retail = retail.rename(columns={"vs. Prior Period": "vs. Prior Period (ARP)"})
retail

               Brand   Months        ARP  vs. Prior Period (ARP)
0       #BlackSeries  08/2020  15.684913                     NaN
1       #BlackSeries  09/2020        NaN               -1.000000
2       #BlackSeries  01/2021  13.611428                     NaN
3       #BlackSeries  02/2021  11.873182               -0.127705
4       #BlackSeries  03/2021        NaN               -1.000000
...              ...      ...        ...                     ...
27206  Zuma Topicals  08/2019  31.598214                     NaN
27207  Zuma Topicals  09/2019  37.860964                0.198199
27208  Zuma Topicals  10/2019  34.546154               -0.087552
27209  Zuma Topicals  11/2019  36.850000                0.066689
27210  Zuma Topicals  12/2019        NaN               -1.000000

[27211 rows x 4 columns]

## Merging both the retail and total units datasets based on Brand and Months

- for ARP, 1932 nulls
- for ARP vs prior, 2712 nulls
- for Units, 1932 nulls
- for Units vs prior, 2813 nulls

In [24]:
retailXunits = pd.merge(retail, units, on=['Brand', 'Months'], how='left')
retailXunits.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27211 entries, 0 to 27210
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Brand                     27211 non-null  object
 1   Months                    27211 non-null  object
 2   ARP                       25279 non-null  float64
 3   vs. Prior Period (ARP)    24499 non-null  float64
 4   Total Units               25279 non-null  object
 5   vs. Prior Period (Units)  24893 non-null  float64
dtypes: float64(3), object(3)
memory usage: 1.5+ MB

In [22]:
unitsXsales = pd.merge(sales, units, on=['Brand', 'Months'], how='left')
unitsXsales

,Months,Brand,Total Sales ($),Total Units,vs. Prior Period (Units)
0,09/2018,10x Infused,"1,711.334232",142.839336,-0.833098
1,09/2018,1964 Supply Co.,"25,475.21594500000","2,395.534726000000",-0.184675
2,09/2018,3 Bros Grow,"120,153.644757","10,018.989140000000",-0.577103
3,09/2018,3 Leaf,"6,063.5297850000000","1,101.053215",-0.672014
4,09/2018,350 Fire,"631,510.0481550000","64,128.91028600000",-0.216338
...,...,...,...,...,...
25274,09/2021,Yummi Karma,"458,600.9132630000","12,757.236391000000",-0.074458
25275,09/2021,Zanna,"3,681.159375",456.16663200000000,NaN
25276,09/2021,Zendo Edibles,"11,508.213813",719.9865370000000,-0.226109
25277,09/2021,Zig Zag,"18,077.309311","6,688.6432270000000",-0.184473
25278,09/2021,Zips Weed Co.,"3,811.07251",210.215046,0.084823

In [23]:
unitsXsales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25279 entries, 0 to 25278
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Months                    25279 non-null  object
 1   Brand                     25279 non-null  object
 2   Total Sales ($)           25279 non-null  object
 3   Total Units               25279 non-null  object
 4   vs. Prior Period (Units)  22961 non-null  float64
dtypes: float64(1), object(4)
memory usage: 1.2+ MB