In [59]:
# importing libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import sqlite3

# importing datasets.

retail = pd.read_csv("data/BrandAverageRetailPrice.csv")
details = pd.read_csv("data/BrandDetails.csv")
sales = pd.read_csv("data/BrandTotalSales.csv")
units = pd.read_csv("data/BrandTotalUnits.csv")

#converting all of our months to datetime
retail['Months'] = pd.to_datetime(retail['Months'])
sales['Months'] = pd.to_datetime(sales['Months'])
units['Months'] = pd.to_datetime(units['Months'])

# Retail dataset

col names = Brands, Months, ARP, "vs. Prior Period"

In [60]:
retail.info()
# ARP has 1939 null entries.
# "vs. Prior Period" has 2712 null entries.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27211 entries, 0 to 27210
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Brands            27211 non-null  object
 1   Months            27211 non-null  datetime64[ns]
 2   ARP               25279 non-null  float64
 3   vs. Prior Period  24499 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 850.5+ KB

In [61]:
retail.head()

         Brands     Months        ARP  vs. Prior Period
0  #BlackSeries 2020-08-01  15.684913               NaN
1  #BlackSeries 2020-09-01        NaN         -1.000000
2  #BlackSeries 2021-01-01  13.611428               NaN
3  #BlackSeries 2021-02-01  11.873182         -0.127705
4  #BlackSeries 2021-03-01        NaN         -1.000000

# sales dataset
- Need to convert total sales into an int or float.

In [62]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25279 entries, 0 to 25278
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Months           25279 non-null  datetime64[ns]
 1   Brand            25279 non-null  object
 2   Total Sales ($)  25279 non-null  object
dtypes: datetime64[ns](1), object(2)
memory usage: 592.6+ KB

In [63]:
# Concert total sales feature into floats
sales['Total Sales ($)'] = sales['Total Sales ($)'].str[:8]
sales['Total Sales ($)'] = pd.to_numeric(sales['Total Sales ($)'])

ValueError: Unable to parse string "1,711.33" at position 0

In [64]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25279 entries, 0 to 25278
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Months           25279 non-null  datetime64[ns]
 1   Brand            25279 non-null  object
 2   Total Sales ($)  25279 non-null  object
dtypes: datetime64[ns](1), object(2)
memory usage: 592.6+ KB

# units dataset
need to convert total units into an int or float

In [65]:
units.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27686 entries, 0 to 27685
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Brands            27686 non-null  object
 1   Months            27686 non-null  datetime64[ns]
 2   Total Units       25712 non-null  object
 3   vs. Prior Period  24935 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 865.3+ KB

In [66]:
units = units.rename(columns={"Brands": "Brand"})
units = units.rename(columns={"vs. Prior Period": "vs. Prior Period (Units)"})
units['Total Units'] = units['Total Units'].str[:8]
units['Total Units'] = pd.to_numeric(units['Total Units'])
units.head()

ValueError: Unable to parse string "1,616.33" at position 0

In [44]:
units.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27686 entries, 0 to 27685
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Brand                     27686 non-null  object
 1   Months                    27686 non-null  datetime64[ns]
 2   Total Units               25282 non-null  float64
 3   vs. Prior Period (Units)  24935 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 865.3+ KB

In [17]:
# Merging the datasets (Except for details)

In [45]:
retail = retail.rename(columns={"Brands": "Brand"})
retail = retail.rename(columns={"vs. Prior Period": "vs. Prior Period (ARP)"})
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27211 entries, 0 to 27210
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   27211 non-null  object
 1   Months                  27211 non-null  datetime64[ns]
 2   ARP                     25279 non-null  float64
 3   vs. Prior Period (ARP)  24499 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 850.5+ KB

# Merging all datasets except for Details

- for ARP, 1932 nulls
- for ARP vs prior, 2712 nulls
- for Units, 1932 nulls
- for Units vs prior, 2813 nulls

In [46]:
retailXunits = pd.merge(retail, units, on=['Brand', 'Months'], how='left')
full = pd.merge(retailXunits, sales, on=['Brand', 'Months'], how='left')
full.head()

,Brand,Months,ARP,vs. Prior Period (ARP),Total Units,vs. Prior Period (Units),Total Sales ($)
0,#BlackSeries,2020-08-01,15.684913,NaN,9.004000e+10,NaN,3.591800e+10
1,#BlackSeries,2020-09-01,NaN,-1.000000,NaN,-1.000000,NaN
2,#BlackSeries,2021-01-01,13.611428,NaN,3.800000e+08,NaN,3.400000e+01
3,#BlackSeries,2021-02-01,11.873182,-0.127705,3.500000e+01,0.071466,2.187000e+09
4,#BlackSeries,2021-03-01,NaN,-1.000000,NaN,-1.000000,NaN

In [47]:
full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27211 entries, 0 to 27210
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Brand                     27211 non-null  object
 1   Months                    27211 non-null  datetime64[ns]
 2   ARP                       25279 non-null  float64
 3   vs. Prior Period (ARP)    24499 non-null  float64
 4   Total Units               24859 non-null  float64
 5   vs. Prior Period (Units)  24893 non-null  float64
 6   Total Sales ($)           25254 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 1.7+ MB

## Checking to see what happens if we just drop all rows with NaN values
- We lose 4641 rows, which is ~18% of our dataset

In [48]:
tester = full
tester = tester.dropna()
tester.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22274 entries, 3 to 27209
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Brand                     22274 non-null  object
 1   Months                    22274 non-null  datetime64[ns]
 2   ARP                       22274 non-null  float64
 3   vs. Prior Period (ARP)    22274 non-null  float64
 4   Total Units               22274 non-null  float64
 5   vs. Prior Period (Units)  22274 non-null  float64
 6   Total Sales ($)           22274 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 1.4+ MB

In [49]:
units.describe()

        Total Units  vs. Prior Period (Units)
count  2.528200e+04              24935.000000
mean   1.739369e+10                  0.265306
std    2.759895e+10                  3.291373
min    0.000000e+00                 -1.000000
25%    8.978750e+03                 -0.351822
50%    3.621845e+09                 -0.055216
75%    2.121925e+10                  0.240113
max    9.998850e+10                250.792020

In [50]:
sales.describe()

       Total Sales ($)
count     2.525400e+04
mean      1.657866e+10
std       2.767622e+10
min       0.000000e+00
25%       1.322175e+04
50%       8.377800e+08
75%       1.971775e+10
max       9.997740e+10

# Timeseries feature engineering

In [58]:
# starting with a single brand

blah = tester[tester.Brand == '11:11']
blah

,Brand,Months,ARP,vs. Prior Period (ARP),Total Units,vs. Prior Period (Units),Total Sales ($)
31,11:11,2020-03-01,9.037983,0.279730,7.975400e+10,0.936358,9.540540e+10
32,11:11,2020-04-01,10.281978,0.137641,9.354900e+10,-0.270734,8.883210e+05
33,11:11,2020-05-01,10.502285,0.021427,1.780000e+09,-0.572958,3.991200e+04
34,11:11,2020-06-01,15.972395,0.520849,7.100000e+08,-0.742249,6.471000e+10
35,11:11,2020-07-01,43.422733,1.718611,6.700000e+08,-0.621271,7.533000e+03
36,11:11,2020-08-01,52.324609,0.205005,3.600000e+08,-0.197298,2.022800e+04
37,11:11,2020-09-01,51.065082,-0.024071,3.600000e+09,-0.172422,9.950700e+04
38,11:11,2020-10-01,41.082436,-0.195489,6.900000e+08,1.016996,9.724900e+10
39,11:11,2020-11-01,46.861609,0.140673,9.970000e+09,0.755872,8.222000e+03
40,11:11,2020-12-01,42.193026,-0.099625,1.658000e+09,1.374325,9.653090e+05
41,11:11,2021-01-01,43.618650,0.033788,7.935000e+10,-0.386960,4.813100e+04
42,11:11,2021-02-01,35.015444,-0.197237,1.319000e+03,0.409196,2.349200e+09
43,11:11,2021-03-01,43.154885,0.232453,8.586000e+10,0.248825,4.730300e+04
44,11:11,2021-04-01,37.865441,-0.122569,4.739000e+10,0.111347,2.103330e+05
45,11:11,2021-05-01,34.885947,-0.078686,9.958000e+09,-0.195516,8.460480e+05
46,11:11,2021-06-01,36.787500,0.054508,4.590000e+10,-0.270800,5.482600e+04
47,11:11,2021-07-01,38.094300,0.035523,5.768000e+10,-0.151143,6.885700e+04
48,11:11,2021-08-01,42.284710,0.110001,6.702000e+09,-0.325709,6.349000e+09
49,11:11,2021-09-01,38.279869,-0.094711,8.964000e+09,0.485852,7.025200e+09